<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <!--Load Required Scripts: Angular / Bootstrap / JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
<div class="container" ng-app="topThis" ng-controller="mainCtrl">
        <div>
            <h3>Top Chrts</h3>
            <ol>
                <li>Robert Sample</li>
            </ol>
            <a href="/">Vote for more</a>
        </div>
</div>
<script>
    var app = angular.module('topThis', []);
    app.controller('mainCtrl', function ($scope) {
        // Pull from db
        $scope.rating = 0;
        $scope.image = "images/ge.JPG";
        $scope.actor = "Robert Sample"
        $scope.upvote = function(){
            $scope.rating += 1;
            // upload to db, pull new image
            $scope.actor = ""
            $scope.image = "";
            $scope.rating = 0
        }
        $scope.downvote = function(){
            $scope.rating -= 1;
            // upload to db, pull new image
            $scope.actor = ""
            $scope.image = "";
            $scope.rating = 0
        }
    });
</script>
</body>
</html>
